.contentwrapper {
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.footerlogo {
    width: 200px;
    height: auto;
    padding-top: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .footerlogo {
        width: 300px;
    }
}

.confidentiallink {
    color: #FFD600;
    margin: 0;
}

.confidentiallink:hover,
.confidentiallink:focus-visible {
    font-weight: bold;
}

.footertel {
    color: white;
    margin: 0;
    font-family: "Fira Sans";
}

.footertel:hover,
.footertel:focus-visible {
    color: #FFD600;
}

.p {
    color: white;
}